@using Community2.Models


<section>
    <div class="container">
        @foreach (var v in Model)
        {
            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <h3>@v.</h3>
                    <p>He will maintain all your home Wiring, Appliances </p>
                </div>
            </div>
        }
    </div>

</section>