<!--
End Fixed Navigation
==================================== -->

<script src="dist/sweetalert.min.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">



<main class="site-content" role="main">
        <div style="width:100%;margin-top:4.5%;">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:100%;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/img/slider/1.png" alt="Chania" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/2.jpg" alt="Chania" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/3.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/4.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/5.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/6.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/7.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/8.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>

                    <div class="item">
                        <img src="/img/slider/9.jpg" alt="Flower" style="height:100%;width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                </a>
            </div>
        </div>   <!--
    Home Slider
    ==================================== -->

    <!--<section id="home-slider">
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider">

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
                    <div class="bg-img bg-img-1" style="width:100%">
                    </div>
                    <div class="slide-caption">
                        <div class="caption-content">
                            <h2 class="animated fadeInDown"></h2>
                            <span class="animated fadeInDown"></span>

                        </div>
                    </div>

                </div>

                <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">

                    <div class="bg-img bg-img-2" style="background-image: url(/img/slider/cinelli.jpeg);">

                    </div>
                    <div class="slide-caption">
                        <div class="caption-content">


                        </div>
                    </div>

                </div>

                <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">

                    <div class="bg-img bg-img-3">
                    </div>
                    <div class="slide-caption">
                        <div class="caption-content">

                        </div>
                    </div>
                </div>
            </div>
            <!-- /sl-slider -->
            <!--
            <nav id="nav-arrows" class="nav-arrows">
                <span class="nav-arrow-prev">Previous</span>
                <span class="nav-arrow-next">Next</span>
            </nav>
            -->

           <!-- <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                <a href="javascript:;" class="sl-prev">
                    <i class="fa fa-angle-left fa-3x"></i>
                </a>
                <a href="javascript:;" class="sl-next">
                    <i class="fa fa-angle-right fa-3x"></i>
                </a>
            </nav>

            <nav id="nav-dots" class="nav-dots visible-xs visible-sm hidden-md hidden-lg">
                <span class="nav-dot-current"></span>
                <span></span>
                <span></span>
            </nav>
        </div><!-- /slider-wrapper -->
    <!--</section>-->

    <!--
    End Home SliderEnd
    ==================================== -->
    <!-- about section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4 wow animated fadeInLeft">
                    <div class="recent-works">
                        <h3>About Us</h3>
                        <div id="works">
                            <div class="work-item">
                                <p>We are providing the best services at your home, We care about your comfort<br> <br> Get Registered with us and get alot of services, Your home maintainance will become our responsibilty, We will provide you the skilled workers at one click, Grocery will be provided at your home on daily basis.</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1 wow animated fadeInRight">
                    <div class="welcome-block">
                        <h3>Welcome To Our Site</h3>
                        <div class="message-body">
                            <img src="img/waleed.jpg" class="pull-left" alt="member">
                            <p> </p>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about section -->
    <!-- Service section -->
    <section id="service">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center">
                    <h2 class="wow animated bounceInLeft">Service</h2>
                    <p class="wow animated bounceInRight">The Key Features of our Job</p>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-home fa-3x"></i>
                        </div>
                        <h3>Electrician</h3>
                        <p>He will maintain all your home Wiring, Appliances </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.3s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <h3>Plumber</h3>
                        <p>He will maintain all of your sentory works</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-clock-o fa-3x"></i>
                        </div>
                        <h3>Groceries</h3>
                        <p>You will get all the grocery items at your home on daily basis </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 text-center wow animated zoomIn" data-wow-delay="0.9s">
                    <div class="service-item">
                        <div class="service-icon">
                            <i class="fa fa-heart fa-3x"></i>
                        </div>

                        <h3>Discounts</h3>
                        <p> Get discounts on different products within your area</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row" style="margin-top:5%">
                <a role="button" href="/Home/AllServices" class="btn btn-info" style="margin-left: 45%; border-radius: 4px 4px 4px 4px">Show All Services</a>
            </div>
        </div>
    </section>
    <!-- end Service section -->
    <!-- portfolio section -->
    @*<section id="portfolio">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center wow animated fadeInDown">
                        <h2>Skilled workers</h2>
                        <p></p>
                    </div>

                    <ul class="project-wrapper wow animated fadeInUp">
                        <li class="portfolio-item">
                            <img src="img/portfolio/item.jpg" class="img-responsive" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat">
                            <figcaption class="mask">
                               <!-- <h3>Wall street</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                           --> </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Araund The world" data-fancybox-group="works" href="img/portfolio/item.jpg"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/item2.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">
                            <figcaption class="mask">
                             <!--  <h3>Wall street</h3>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. </p>
                            --> </figcaption>
                            <ul class="external">
                                <li><a class="fancybox" title="Wall street" href="img/slider/banner.jpg" data-fancybox-group="works"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/item3.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">

                            <ul class="external">
                                <li><a class="fancybox" title="Behind The world" data-fancybox-group="works" href="img/portfolio/item3.jpg"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/item4.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry.">

                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 4" data-fancybox-group="works" href="img/portfolio/item4.jpg"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/item5.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">

                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 5" data-fancybox-group="works" href="img/portfolio/item5.jpg"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>

                        <li class="portfolio-item">
                            <img src="img/portfolio/item6.jpg" class="img-responsive" alt="Lorem Ipsum is simply dummy text of the printing and typesetting ndustry. ">

                            <ul class="external">
                                <li><a class="fancybox" title="Wall street 6" data-fancybox-group="works" href="img/portfolio/item6.jpg"><i class="fa fa-search"></i></a></li>
                                <li><a href=""><i class="fa fa-link"></i></a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </section>*@
    <!-- end portfolio section -->
    <!-- Testimonial section -->
    <section id="testimonials" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2>What people say</h2>
                    </div>

                    <div id="testimonial" class=" wow animated fadeInUp">
                        <div class="testimonial-item text-center">
                            <img src="img/member-1.jpg" alt="Our Clients">
                            <div class="clearfix">
                                <span>Saim Mehmood</span>
                                <p>I am much relaxed after getting their services, I was difficult for me to find the skilled person at needed time, But now They make it ease for me</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- end Testimonial section -->
    <!-- Price section -->
    <section id="price">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>Price</h2>
                    <p>Our Packages</p>
                </div>

                <div class="col-md-4 wow animated fadeInUp">
                    <div class="price-table text-center">
                        <span>Silver</span>
                        <div class="value">
                            <span>Rs</span>
                            <span>500</span><br>
                            <span>month</span>
                        </div>
                        <ul>
                            <li>Electrician</li>
                            <li>Plumber</li>
                            <li>Discounts on some products</li>

                            <li><a href="/Home/Signup">sign up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.4s">
                    <div class="price-table featured text-center">
                        <span>Gold</span>
                        <div class="value">
                            <span>Rs</span>
                            <span>1000</span><br>
                            <span>month</span>
                        </div>
                        <ul>
                            <li>Electrician</li>
                            <li>Plumber</li>
                            <li>Discounts on some products</li>
                            <li>Grocery</li>
                            <li><a href="/Home/Signup">sign up</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 wow animated fadeInUp" data-wow-delay="0.8s">
                    <div class="price-table text-center">
                        <span>Diamond</span>
                        <div class="value">
                            <span>Rs</span>
                            <span>1500</span><br>
                            <span>month</span>
                        </div>
                        <ul>
                            <li>All Bonus Points</li>
                            <li>All Bonus Points</li>
                            <li>All Bonus Points</li>
                            <li>All Bonus Points</li>
                            <li><a href="/Home/Signup">sign up</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end Price section -->
    <!-- Social section -->
    <section id="social" class="parallax">
        <div class="overlay">
            <div class="container">
                <div class="row">

                    <div class="sec-title text-center white wow animated fadeInDown">
                        <h2>FOLLOW US</h2>
                        <p>Beautifully simple follow buttons to help you get followers on</p>
                    </div>

                    <ul class="social-button">
                        <li class="wow animated zoomIn"><a href="https://www.facebook.com/18stats"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="https://www.twitter.com/bsef12m532"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="https://www.google.com"><i class="fa fa-dribbble fa-2x"></i></a></li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <!-- end Social section -->
    <!-- Contact section -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="sec-title text-center wow animated fadeInDown">
                    <h2>Contact</h2>
                    <p>Leave a Message</p>
                </div>


                <div class="col-md-7 contact-form wow animated fadeInLeft">
                    <form action="/Home/sendMail" method="post">
                        <div class="input-field">
                            <input type="text" name="name" class="form-control" placeholder="Your Name...">
                        </div>
                        <div class="input-field">
                            <input type="email" name="from" class="form-control" placeholder="Your Email...">
                        </div>
                        <div class="input-field">
                            <input type="text" name="subject" class="form-control" placeholder="Subject...">
                        </div>
                        <div class="input-field">
                            <textarea name="message" class="form-control" placeholder="Messages..."></textarea>
                        </div>
                        <button type="submit" id="submit" class="btn btn-blue btn-effect">Send</button>
                    </form>
                </div>

                <div class="col-md-5 wow animated fadeInRight">
                    <address class="contact-details">
                        <h3>Contact Us</h3>
                        <p><i class="fa fa-pencil"></i>48-Huma Block <span> Allama Iqbal Town,</span> <span> Lahore </span><span> Pakistan</span></p><br>
                        <p><i class="fa fa-phone"></i>Phone: 0323-4111963 </p>
                        <p><i class="fa fa-envelope"></i>waleedalianjum@gmail.com</p>
                    </address>
                </div>

            </div>
        </div>
    </section>
    <!-- end Contact section -->

 

</main>

<footer id="footer">
    <div class="container">
        <div class="row text-center">
            <div class="footer-content">
                
                <p>Copyright &copy; 2014-2015 Design and Developed By<a href="http://www.themefisher.com">Themefisher</a> </p>
            </div>
        </div>
    </div>
</footer>

<!-- Essential jQuery Plugins
================================================== -->
<!-- Main jQuery -->
<script src="/Scripts/jquery-1.11.1.min.js"></script>
<!-- Twitter Bootstrap -->
<script src="/Scripts/bootstrap.min.js"></script>
<!-- Single Page Nav -->
<script src="/Scripts/jquery.singlePageNav.min.js"></script>
<!-- jquery.fancybox.pack -->
<script src="/Scripts/jquery.fancybox.pack.js"></script>
<!-- Google Map API -->
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<!-- Owl Carousel -->
<script src="/Scripts/owl.carousel.min.js"></script>
<!-- jquery easing -->
<script src="/Scripts/jquery.easing.min.js"></script>
<!-- Fullscreen slider -->
<script src="/Scripts/jquery.slitslider.js"></script>
<script src="/Scripts/jquery.ba-cond.min.js"></script>
<!-- onscroll animation -->
<script src="/Scripts/wow.min.js"></script>
<!-- Custom Functions -->
<script src="/Scripts/main.js"></script>

