
@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aboutUs</title>
</head>
<body>
    <div> 
        ADD INFORMATION HERE
    </div>
</body>
</html>
